<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음악의 신</title>
    <link rel="stylesheet" href="/static/mvquiz.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nuosu+SIL&family=Plaster&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img src="/static/images/음악의신로고.png" alt="음악의 신 로고">
    </div>
    <div class="container">
        <img src="{{ scene['image'] }}" alt="뮤직비디오 장면" class="scene-image">
        
        <form action="/check_answer" method="POST">
            <input type="hidden" name="correct_answer" value="{{ scene['answer'] }}">
            <div class="input-area">
                <input type="text" name="answer" placeholder="노래 제목을 입력하세요">
                <button type="submit">입력하기</button>
            </div>
        </form>

        <div id="resultMessage"></div>
    </div>
    <script src="/static/mvquiz.js"></script>
</body>
</html>
