<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>오답!</title>
    <link rel="stylesheet" href="/static/mvquiz.css"> <!-- 스타일시트 추가 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nuosu+SIL&family=Plaster&display=swap"
        rel="stylesheet">
</head>
<style>
    .noto-sans-kr-uniquifier {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
    .next-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    text-decoration: none; /* 링크 텍스트의 밑줄 제거 */
    border-radius: 5px;
}
</style>
<body>
    <div class="container">
        <h1>틀렸습니다!</h1>
        <img src="{{ correct_image }}" alt="정답 이미지" class="scene-image"> <!-- 정답 이미지 -->
        <p>정답: {{ correct_answer }}</p> <!-- 정답 텍스트 -->
        <a href="/" class="next-button">다음 문제 풀기</a> <!-- 다음 문제 버튼 -->
    </div>
</body>
</html>

